source activate respy-lectures

export PROJECT_ROOT=$PWD

export PYTHONPATH=$PWD/submodules/respy:$PYTHONPATH

# TODO: This is the temporary location for the model specification
export ROBINSON_SPEC=$PWD/configurations/robinson

# We need some pretty formatting of the plots
export MATPLOTLIBRC=$PWD/configurations

# Adding bin directory
export PATH=$PWD/bin:$PATH

# Access to python utilites
export PYTHONPATH=$PWD/python:$PYTHONPATH

# Locatio for jupyter configuration
export JUPYTER_CONFIG_DIR=$PWD/configurations/jupyter

# Location for startup scripts
export IPYTHONDIR=$PWD/configurations/ipython

